{% load static %}
{% load i18n %}
<!-- CSS -->
<!-- CSS CDN LINK -->
<!-- CSS INTERNAL LINK -->
{% comment %} <link rel="stylesheet" href="{% static 'main/css/bootstrap/bootnavbar.css' %}"/> {% endcomment %}

{% comment %} <link rel="stylesheet" href="{% static 'main/css/jquery/magnific-popup.css' %}"> {% endcomment %}
{% comment %} <link rel="stylesheet" href="{% static 'main/css/jquery/jquery-ui.css' %}"> {% endcomment %}
{% comment %} <link rel="stylesheet" href="{% static 'main/css/owl/owl.carousel.min.css' %}"> {% endcomment %}
{% comment %} <link rel="stylesheet" href="{% static 'main/css/owl/owl.theme.default.min.css' %}"> {% endcomment %}
{% comment %} <link rel="stylesheet" href="{% static 'main/css/aos/aos.css' %}"> {% endcomment %}

{% comment %} <link rel="stylesheet" href="{% static 'main/css/style.css' %}"> {% endcomment %}

{% comment %} <link rel="stylesheet" href="{% static 'testApp/css/styles.css' %}"> {% endcomment %}
{% comment %} <link rel="stylesheet" type="text/css" href="styles.css" /> {% endcomment %}
{% comment %} <link rel="stylesheet" href="{% static 'main/css/style.min.css' %}"/> {% endcomment %}

<!-- CSS END -->
