{% load static %}
{% load i18n %}
<!-- SIMPLE SCROLLBAR -->
<!-- SIMPLE SCROLLBAR CDN LINK -->
{% comment %} <link rel="stylesheet" href="https://unpkg.com/simplebar@latest/dist/simplebar.css"/> {% endcomment %}
{% comment %} <script src="https://unpkg.com/simplebar@latest/dist/simplebar.min.js"></script> {% endcomment %}
<!-- or -->
{% comment %} <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/simplebar@latest/dist/simplebar.css"/> {% endcomment %}
<!-- SIMPLE SCROLLBAR INTERNAL LINK -->
<!-- SIMPLE SCROLLBAR END -->
